@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-image:url('../images/blackbrick.jpg');
}
.wrapper {
  width: 100vw;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.neon-wrapper {
  box-shadow:
  0 0 0.1vw  0.4vw #fff7f7,   
  0 0 0.4vw  0.6vw #e97272, 
  0 0   4vw  0.4vw #2c0be5,
  inset 0 0 1.5vw  0.4vw #2c0be5,
  inset 0 0 0.4vw  0.2vw #e97272,
  inset 0 0 0.5vw  0.2vw #fff7f7;
  border-radius: 1.5rem;
}
.neon-text {
  font-family:'Bungee Outline', sans-serif;
  font-size: 4em;
  color: #ffd8d8;
  padding: 0 3.5rem 0 3.5rem;
  text-shadow: 
  .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 
  .1vw 0vw   0vw #f25757, .2vw 0vw   0vw #f25757, .4vw 0vw   0vw #f25757,
  .1vw 0vw   5vw #2c0be5, .2vw 0vw  20vw #2c0be5, .4vw 0vw  10vw #2c0be5,
  .1vw 0vw  10vw #2c0be5, .2vw 0vw  30vw #2c0be5, .4vw 0vw  10vw #2c0be5;
}

.nav-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
   
}

.neon {
  font-family: 'Bungee Outline',sans-serif;
  font-size: 2em;
  color: #f25757;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2c0be5;
  box-shadow: 
  0 0 0.1vw  0.4vw #fff7f7,   
  0 0 0.4vw  0.6vw #e97272, 
  0 0   4vw  0.4vw #2c0be5,
  inset 0 0 1.5vw  0.4vw #2c0be5,
  inset 0 0 0.4vw  0.2vw #e97272,
  inset 0 0 0.5vw  0.2vw #fff7f7;
  border-radius: 1.5rem;
  width: fit-content;
}


