@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Monoton&display=swap');

* {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-image: url('../images/blackbrick.jpg'); 

}

.background-image {
    background-image: url('../images/sadiq-cover2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
    align-items: center;
}

.heading {
    padding: auto;
  display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
}

.neon {
  color: #FB4264;
  font-size: 2.5em;
  text-shadow: 0 0 3em #1f07f3;
  font-family: 'Bungee Outline', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #ffffff, 0 0 1.5vw #ffffff, 0 0 5vw #ffffff, 0 0 5vw #ffffff, 0 0 .2vw #ffffff, .5vw .5vw .1vw #ffffff;
    color: #806914;
  }
}

.neon-nav {
  color: #f7f5fa;
  font-size: 2em;
  line-height: 2em;
  text-shadow: 0 0 3vw #F40A35;
  display: flex;
  font-family: 'Major Mono Display', monospace;
  border: 10px solid, rgba(255, 0, 0, .5);
}

 h3 a {
     color: #FFFFFF;
     background-color: transparent;
     text-decoration: underline;
     text-underline-position: under;
}
 h3 a:hover {
     color: #FFFFFF;
}

.neon-footer {
  color: #f7f5fa;
  font-size: 1.5em;
  line-height: 2em;
  text-shadow: 0 0 3vw #F40A35;
  border: 10px solid, rgba(250, 247, 247, 0.973);
 list-style-type: none;
 display: flex;
 padding-top: 100px;
justify-content: center;
align-items: center;
}

.icons {
    padding: 50px;
}

.nav-item {
    padding: 20px;
}

li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
 font-size: 120%;
}

.images {
    clear: both;
     line-height: 0;
     column-count: 3;
     column-gap: 0px;
}

.clear {
    border: 3px solid black;
}




