@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Public+Sans:wght@900&display=swap');


* {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black; 

}


.heading {
    padding: auto;
  display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
    padding-top:30px;
    padding-bottom: 30px;
}

.neon {
  color: #FB4264;
  font-size: 2.5em;
  text-shadow: 0 0 3em #1f07f3;
  font-family: 'Bungee Outline', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #ffffff, 0 0 1.5vw #ffffff, 0 0 5vw #ffffff, 0 0 5vw #ffffff, 0 0 .2vw #ffffff, .5vw .5vw .1vw #ffffff;
    color: #806914;
  }
}

.neon-nav {
  color: #f7f5fa;
  font-size: 2em;
  line-height: 2em;
  text-shadow: 0 0 3vw #F40A35;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  border: 10px solid, rgba(255, 0, 0, .5);
  padding: 20px;
}

 h3 a {
     color: #FFFFFF;
     background-color: transparent;
     text-decoration: underline;
     text-underline-position: under;
}
 h3 a:hover {
     color: #FFFFFF;
}

.neon-footer {
  color: #f7f5fa;
  font-size: 1.5em;
  line-height: 2em;
  text-shadow: 0 0 3vw #F40A35;
  border: 10px solid, rgba(250, 247, 247, 0.973);
 list-style-type: none;
 display: flex;
 padding-top: 100px;
justify-content: center;
align-items: center;
}

.icons {
    padding: 50px;
}

.nav-item {
    padding: 20px;
}

li a {
    color: white;
    text-decoration: none;
}

.container {
    display: block;
    justify-content: center;
    align-items: center;
    margin:auto;
}

a:hover {
 font-size: 120%;
}

.images {
    clear: both;
     line-height: 0;
     column-count: 3;
     column-gap: 0px;
     padding-top:10px;
}

.clear {
    border: 3px solid black;
}

.navbar {
    justify-content: center;
    align-content: center;
    font-size: 1em;
    flex-direction: column; 

}

.link {
    margin: auto;
    justify-content: center;
    align-content: center;
    padding: 20px;   
}

 ul {
     list-style-type: none;
     text-align: center;
     display: inline-block;
     color: #ffffff;
     padding: 0;
     background-color: transparent;
}

 li a {
     font-family: 'Montserrat', sans-serif;
     text-transform: uppercase;
     color: #FFFFFF;
     text-align: center;
     padding: 5px 25px;
     text-decoration: none;
     letter-spacing: 3px;
}
 li a:hover {
     background-color: #111;
     text-decoration: none;
     color: #FFFFFF;
}

.info-box {
 clear:both;
    padding-top: 50px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.info-text {
    flex-wrap: wrap;
    margin: 10px;
    background-color: rgba(90, 90, 90, 0.5);
}

.group {
    padding-top: 30px;
    padding-bottom: 30px;
}

.wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:20px;
  padding-bottom:20px;
  margin: auto;
}

.neon-wrapper {
  box-shadow:
  0 0 0.1vw  0.4vw #fff7f7,   
  0 0 0.4vw  0.6vw #e97272, 
  0 0   4vw  0.4vw #e50b0b,
  inset 0 0 1.5vw  0.4vw #e50b0b,
  inset 0 0 0.4vw  0.2vw #e97272,
  inset 0 0 0.5vw  0.2vw #fff7f7;
  border-radius: 1.5rem;
  padding:20px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.contact-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.heading-index {
    padding: auto;
  display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
    padding-top:200px;
    padding-bottom: 30px;
}

.neon-wrapper2 {
  box-shadow:
  0 0 0.1vw  0.4vw #fff7f7,   
  0 0 0.4vw  0.6vw #87c2f3, 
  0 0   4vw  0.4vw #32aff7,
  inset 0 0 1.5vw  0.4vw #32aff7,
  inset 0 0 0.4vw  0.2vw #87c2f3,
  inset 0 0 0.5vw  0.2vw #fff7f7;
  border-radius: 1rem;
  margin: auto;
  padding-bottom:0px;
}

.section {
    padding-top: 50px;
}

.slideshow {
    margin:30px;
    margin-left: 50px;
    padding:30px;
    clear: both;
     line-height: 0;
     column-count: 2;
}

.about-text {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}
